/* reset */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* reset-close */
#wrapper {
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  margin: auto;
}

#next,#prev {
  display: flex;
  align-items:center;
  width: 90px;
  height:100%;
}

#sliders {
  width: calc(100% - 180px);
  height: 100%;
}

#sliders img {
  height: 100%;
  width: 100%;
}

#dots{
  position: absolute;
  bottom:10px;
  left:50%;
  transform: translateX(-50%);
}
